ul#nav {
  list-style-type: none;
  background-color: #fff;
  padding: 21px 169.5px;
  height: 77px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
}

.blog {
  font: 27.5px 'Lobster Two';
  width: 357.5px;
  margin-left: 40px;
  box-sizing: border-box;
}

input {
  border: 0;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Work Sans';
  letter-spacing: -.5px;
  background: #fafafa;
  border-radius: 3px;
  transition: .3s;
  border: 1px solid #dbdbdb;
}

form {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0;
  width: 215px;
  box-sizing: border-box;
  height: 28px;
  text-align: center;
  margin: 3.5px 0;
}

input:focus {
  outline: 0;
  text-align: left;
  background-color: transparent;
}

.ask,
.likes,
.tags {
  box-sizing: border-box;
  font-size: 28px;
  color: #555;
  height: 28px;
  margin: 3.5px 0;
}

.ask {
  margin-left: 243px;
}

.likes,
.tags {
  margin-left: 30px;
}
